
@import url('https://fonts.cdnfonts.com/css/harry-potter');

:root{
    --harry-font: 'Harry Potter', sans-serif;
}


$font-stack: "Helvetica";
$text-white: #FFF;
$text-black:  #000000;
$background-main:  radial-gradient( circle farthest-corner at 10% 20%,  rgba(147,67,67,1) 0%, rgba(111,27,27,1) 90% );


 
